body {
  border: 5px solid #3f51b5;
  margin: 20px 350px;
  padding: 20px;
}
h1,
h2 {
  text-align: center;
  color: #3197f3;
}
h1 {
  font-size: 50px;
}
.unit {
  font-size: 15px;
  color: black;
}
.dateTime,
.weatherConditions,
.weatherDetails {
  text-align: center;
  border: 3px solid #3f51b5;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.dateTime {
  font-size: 15px;
  padding: 30px 13px;
  position: relative;
  left: 70px;
}
.weatherDetails {
  font-size: 13px;
  padding: 16px 10px;
  position: relative;
  top: 120px;
  left: 30px;
  margin: 0 0 140px 0;
}

.weatherConditions {
  font-size: 15px;
  padding: 11px 13px;
  position: relative;
  right: 20px;
}
.weatherConditions img {
  width: 80px;
}
